<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/kenkyu/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>研究室（教授）名</td><td><input type="text" name="code" value="<%= data.code %>"></td></tr>
      <tr><td>研究概要</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>研究内容</td><td><input type="text" name="change" value="<%= data.change %>"></td></tr>
      <tr><td>キーワード</td><td><input type="text" name="passengers" value="<%= data.passengers %>"></td></tr>
      <tr><td>研究室サイトURL</td><td><input type="text" name="distance" value="<%= data.distance %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/kenkyu/"><button type="button">研究室一覧に戻る</button></a>
</body>
</html>